

<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.splashImg = "<%= image_url('tacos.jpg')%>"
    </script>
   
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 
  <link rel="manifest" crossorigin="use-credentials" href="../../../public/manifest.json.webmanifest"/>
  <script async src="https://cdn.jsdelivr.net/npm/pwacompat@2.0.9/pwacompat.min.js"
    integrity="sha384-VcI6S+HIsE80FVM1jgbd6WDFhzKYA0PecD/LcIyMQpT4fMJdijBh0I7Iblaacawc"
    crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">



    <script type="text/javascript">
      window.seamless20logo = "<%= image_url('screamless-logo.png')%>"
      window.goodFoodGreatFriends = "<%= image_url('good-food-great-friends.png')%>"
      window.seamlessShoppingBag = "<%= image_url('seamlessbag.svg')%>"
      window.seamlessStackCoins = "<%= image_url('stackedcoins.svg')%>"
      window.seamless20logo2 = "<%= image_url('Screamless-logo-22.png')%>"
      window.seamlessNoodleBowl = "<%= image_url('noodlebowl.svg')%>"
      window.cuisine = "<%= image_url('cuisine.png')%>"
      window.centralPark = "<%= image_url('central-park-toprated.jpg')%>"

    </script>

    <script type="text/javascript">
    </script>

     <script type="text/javascript">
    </script>
     <script type="text/javascript">
    </script>
     <script type="text/javascript">
    </script>
     <script type="text/javascript">
    </script>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=places"%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
      $("#flip").click(function(){
        $("#panel").slideToggle(0); 
        $('#down').slideToggle(0); 
      });
      });
    </script>
    <script type='text/javascript'>window.seamlesslogo = "<%= image_url('seamless-750.jpg')%>"</script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"/>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <title>Screamless</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>

  </body>
  <script defer src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/5.9.4/firebase-messaging.js"></script>
  
</html>
