<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.splashImg = "<%= image_url('tacos.jpg')%>"
    </script>
    <script type='text/javascript'>window.seamlesslogo = "<%= image_url('seamless-750.jpg')%>"</script>
    <title>Screamless</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
